doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 🎾 Tênis Ranking Litoral - RS
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    style.
      .bg-tennis { background-color: #2c5e1a; } /* Verde Quadra */
      .nav-link:hover { color: #ffd700 !important; } /* Destaque Ouro */

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-tennis.shadow-sm.mb-4
      .container
        a.navbar-brand.fw-bold(href="/matches/ranking") 🎾  Ranking Litoral - RS
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/matches/ranking") Classificação
            li.nav-item
              a.nav-link(href="/matches/pending") Agenda de jogos
            li.nav-item.ms-lg-3
              a.btn.btn-warning.btn-sm.text-dark.fw-bold(href="/tournaments/new") + Nova Temporada

    //- O conteúdo de cada página entrará aqui
    block content

    script(src="/javascripts/bootstrap.bundle.min.js")
